tr
  td.tabHead(width="10%")
  td.msgWo(width="80%")
    .msgBox
      .pbg.msgArrow
      p #{msg.content}.
        b.ftblue #{msg.timestamp}
  td.tabHead(width="10%")
    a(href="javascript:;",title="我")
      img(src="#{my.face}", width="50", height="50")