-if ('undefined' != typeof isindex)
   script(src="/static/?parse=/static/js/plugin/jquery.1.6.2.js|/static/js/plugin/easing.js|/static/js/base.js|/static/js/index.js")
-else
   script(src="/static/?parse=/static/js/plugin/jquery.1.6.2.js|/static/js/plugin/easing.js|/static/js/plugin/jquery.charCheck.js|/static/js/base.js|/static/js/index.js|/static/js/page.js")