- var err = err || ''
- var suc = suc || ''
input#err(type="hidden",value="#{err}")
input#suc(type="hidden",value="#{suc}")
.foot
  .footBox
    span snoopyxdy 版权所有 ©2011-2012
    span email: snoopyxdy@163.com; qq: 53822985
    span 
      a(href="http://snoopyxdy.blog.163.com/blog/static/60117440201261844125973", target="_blank") 本站介绍
    span 
      a(href="http://snoopyxdy.blog.163.com/blog/static/60117440201261984421292", target="_blank") 错误和建议
