-if ('undefined' != typeof isindex)
  link(type="text/css", rel="stylesheet", href="/static/?parse=/static/css/base.less|/static/css/index.less")
-else
  link(type="text/css", rel="stylesheet", href="/static/?parse=/static/css/base.less|/static/css/index.less|/static/css/page.less")
