-if ('undefined' != typeof isindex)
  link(type="text/css", rel="stylesheet", href="/static/css/base.less.css")
  link(type="text/css", rel="stylesheet", href="/static/css/index.less.css")
-else
  link(type="text/css", rel="stylesheet", href="/static/css/base.less.css")
  link(type="text/css", rel="stylesheet", href="/static/css/index.less.css")
  link(type="text/css", rel="stylesheet", href="/static/css/page.less.css")