a.pbg.navHome(href="/home", title="首页")
a.pbg.navContent(href="/publish", title="发布内容")
a.pbg.navMsg(href="/message", title="私信")
a.pbg.navFriend(href="/friends", title="好友")
a.pbg.navSearch(href="/search", title="搜索")
a.pbg.navSet(href="/setting", title="设置")
a.pbg.navLogout(href="/home/logout", title="退出")
.pbg.pnNow(class="#{nowClass}")
.pbg.unRead 
  span#unRead 
  .unReadRight.pbg