span.scWords
  -if('undefined' != typeof isexplorer)
    h3.fl 发现好文章
  -else
     -if(noSearch)
      输入文章标题进行搜索
     -else
      b.ftblue 查找 "#{searchWords}"
      | 的结果
  span.scInput.scInputH
    form(name="searchform", action="/search/content/", method="get")
     button.pbg(type="submit")
     input#search(value="", name="search", maxlength="20")