include include/head 
body.whiteBg
  - var nowClass = 'pnFriend'
  include include/top
  .sBody.clearfix
    .sToper.clearfix
      include inc_content/listtop
    .sContent.clearfix
      include include/clist
  include include/foot
  include include/footjs