include include/head 
body
  include inc_content/top 
  .pcWrapWide
    include inc_content/title
    include inc_content/content
    include inc_content/comment
  include include/foot
  include include/footjs