#ieBox.ieBox
  .ieWrap
    | 欢迎您来到wujb.net!<br/>
    | Wujb.net是一款由node.js和mongodb搭建的轻博客网站，名字取自我儿子的大名拼音，全站接口定义全部是restful风格，用基于node.js的
    a( href="http://www.rrestjs.com", target="_blank") rrestjs
    |  开发框架搭建，前端运用
    a( href="http://www.lesscss.net", target="_blank") less
    |  样式表，整体风格样式参考了网易的
    a( href="http://www.lofter.com", target="_blank") LOFTER。<br/>
    | Wujb主要有以下功能：<br/>
    | 1、发表轻博客，一段文字，一张图片，一段视频等<br/>
    | 2、评论功能<br/>
    | 3、添加好友功能<br/>
    | 4、喜欢轻博客功能<br/>
    | 5、私信功能<br/>
    | 6、免注册，直接登录功能<br/>
    | 7、会员修改网站封面功能<br/><br/>
    | 祝您使用wujb.net愉快。本站源代码 
    a( href="https://github.com/DoubleSpout/wujb", target="_blank") github(wujb项目)。
    | 同时想要深入了解本站架构的TX可以点击这里
    a( href="http://snoopyxdy.blog.163.com/blog/static/60117440201261844125973", target="_blank") wujb站点介绍
    |  博文内有详细的代码分层介绍，代码结构介绍和部署介绍等内容，欢迎指正。<br/><br/>
    | 联系方式：<br/>
    | email: snoopyxdy@163.com<br/>
    | blog: 
    a(href="snoopyxdy.blog.163.com", target="_blank") snoopyxdy.blog.163.com<br/>
    | QQ: 53822985<br/><br/>
    span.ftred 郑重声明：本站不支持IE6!


