include include/head 
body.whiteBg
  - var nowClass = 'pnSearch'
  include include/top
  .sBody.clearfix
    .sToper.clearfix
      include include/stop
    .sContent.clearfix
         include include/clist
  include include/foot
  include include/footjs