include include/head 
body
  - var nowClass = 'pnSetting'
  include include/top
  .sBody.clearfix
    .setBody.whiteBg.clearfix
      include inc_setting/setting
  include include/foot
  include include/footjs