#pQuick.pQuick.clearfix
  a#pqFace.pbg.pqFace(href="http://en.gravatar.com/", target="_blank", title="头像")
    img#myface(src="#{user.face}", width="110", height="110")
  a.pbg.pqWord(href="/publish/index/word", title="发布文字")
  a.pbg.pqPic(href="/publish/index/pic", title="发布图片")
  a.pbg.pqVideo(href="/publish/index/video", title="发布视频")
  a.pbg.pqB(href="/publish/catalog", title="上传封面")