.pbg.prLove.grayborder
  a.pbg(href="/content/mylove") 您喜欢了#{user.lovenum}篇文章
  a.blacka.alpha2(href="/content/explorer/") 去发现好文章
.pbg.prLove.prFriend.grayborder
  a.pbg(href="/friends/index") 您关注了#{user.friendsnum}位朋友
  a.blacka.alpha2(href="/friends/explorer") 去结交新朋友